/*APP-HEADER*/
h1 {
    text-align: center;
    padding: 20px;
    margin-bottom: 60px;
}

/* HEADERSEARCH*/
select {
    margin-left: 10px;
}

.bottone {
    padding: 5px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}

.cerca {
    background-color: blue;
    color: rgb(255, 255, 255);
}

.reset {
    background-color: rgb(218, 194, 14);
}